body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
}

nav {
    background: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav li {
    float: none;
}

.main-nav li a {
    font-weight: bold;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: #a19a9a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #313030;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    mix-blend-mode: normal;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.button-container button {
    background-color: #3333332d;
    color: white;
    border: none;
    padding: 1vh 4vw; /* Keep consistent padding */
    cursor: pointer;
    width: 9vh; /* Set the same width for both buttons */
    border-radius: 50vh;
    }
    
.button-container button:hover {
    background-color: #111;
}
    
    
    
    /* Button Container */
    
.button-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%, -50%);
    z-index: 101; /* Ensure buttons are above other content */
    }
    
    
#goRight { /* Style for Go Right button */
    cursor: url("/assets/images/right.png"), auto;
    position: absolute;
    right: -99.5vw; 
    top: -51vh;
    height: 120vh;
    background-color: transparent;
    }
    
#goLeft { /* Style for Go Left button */
    cursor: url("/assets/images/left.png"), auto;
    position: absolute;
    left: .4vw;
    top: -51vh;
    height: 120vh;
    background-color: transparent;
}
    
.button-container button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1vw 1vh;
    cursor: pointer;
}
    
    
    /* Container */
.container {
    width: 100vw;
    height: 100vh;
}

.outer-wrapper {
    width: 300vw; /* 3 sections, each of 100vw */
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; /* Change direction to row */
}

.wrapper {
    width: 100vw; /* Full width of the viewport */
    height: 100vh;
}

.content {
    width: 100vw; /* Full width of the viewport */
    height: 100vh;
    position: relative; /* Set position to relative */
}


.title, .text, .photo {
    position: absolute; /* Set position to absolute */
}

.title {
    font-size: 3vw;
    font-weight: bold;
    top: 13vh; /* Position from the top */
    left: 13vw; /* Position from the left */
}

.text {
    font-size: .85vw;
    max-width: 35vw;
    top: 24.2vh; /* Position from the top */
    left: 55vw; /* Position from the left */
    font-size: 1,5vw;   
}

.photo {
    max-width: 50vw;
    max-height: 50vh;
    height: auto;
    width: auto;
    top: 25vh; /* Position from the bottom */
    left: 13vw; /* Position from the right */
    object-fit: scale-down;
}

.content.one {
    background-color: black; 
    color: white;
}

.content.two {
    background-color: white; 
    color: black;
}

.content.three {
    background-color: black; 
    color: white; 
}
