
* {
    margin: 0;
    padding: 0;
  }
  body {
    overflow-y: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* Container */
  .container {
    width: 100vw;
    height: 100vh;
  }
  
  /* Content Wrapper */
  .content-wrapper {
    width: 100vw;
    white-space: nowrap;
  }
  
  /* Sektioner */
  .section {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: relative;
  }

    /* Tekst */
  .headline {
    font-size: 100px;
  }

  .paragraph {
    font-size: medium;
  }


  /* Headingers */
  .section div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  /* Baggrund */
  .section-one {
    background-color: #e67e22;
  }
  .section-two {
    background-color: #e74c3c;
  }
  .section-three {
    background-color: #2c3e50;
    }
  